*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #efefef;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
h1,h2,h3,h4{
  font-weight: normal;
}
hr{
  height: 0;
  border: none;
  border-top: 1px solid #9a9da2;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.topNavBar{
  padding-top: 20px;
  position: fixed;
  width: 100%;
}
.topNavBar .logo{
  font-size: 34px;
  font-family: LiHei Pro;
  font-weight: bold;
  padding-left: 23px;
}
.topNavBar .logo .xj{
  color: #e6686a;
  padding-right: 5px;
}
.topNavBar .logo .card{
  color: #9a9da2;
}
.topNavBar > nav{
  padding-top: 10px;
}
.topNavBar > nav > ul > li{
  float: left;
  padding: 0 23px;
}
.topNavBar > nav > ul > li > a{
  color: #9a9da2;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 1px;
}
.topNavBar > nav > ul > li > a:hover{
  border-bottom: 3px solid #e6686a;
}
.banner{
  background-image: url(./img/rs-cover.jpg);
  height: 515px;
  background-position: center center;
  background-size: cover;
}
.banner .bannerMask{
  height: 515px;
  background-color: rgba(0, 0, 0, 0.7);
}
.usercard{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: -340px;
  box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.33);
}
.pictureAndTxet{
  padding: 50px;
}
.picture{
  float: left;
}
.text{
  float: left;
  padding-left: 60px;
  width: 479px;
}
.text .hello{
  color: white;
  background-color: #e6686a;
  padding: 0 16px;
  display: inline-block;
  line-height: 28px;
  position: relative;
}
.hello .triangle{
  display: block;
  position: absolute;
  border: 10px solid transparent;
  width: 0px;
  height: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  left: 4px;
}
.text > h1{
  padding-top: 24px;
}
.text > p{
  padding-top: 8px;
}
.text > hr{
  margin: 18px 0;
}
.information > dt,
.information >dd{
  float: left;
  padding: 8px 0;
}
.information > dt{
  width: 30%;
  font-weight: bold;
}
.information > dd{
  width: 70%;
  color: #9a9da2;
}
.usercard .media{
  background-color: #e6686a;
  text-align: center;
}
.usercard .media > a{
  padding: 20px;
  display: inline-block;
}
.usercard .media > a > img{
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 50%;
  vertical-align: top;
}
.usercard .media > a > img:hover{
  background-color: #cf5d5f;
}
.downloadResume{
  text-align: center;
}
.resume-pdf{
  display: inline-block;
  border: 1px solid #9a9da2;
  border-radius: 2px;
  line-height: 16px;
  padding: 20px 55px;
  font-size: 14px;
  color: #3d4451;
  font-weight: bold;
  margin: 30px 0;
  transition: box-shadow 0.2s;
}
.resume-pdf:hover{
  box-shadow: 0px 6px 20px -4px rgba(0,0,0,0.4);
}
.selfIntroduction{
  text-align: center;
  line-height: 1.8;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}
.skill{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.skill > h2{
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  color: #3d4451;
  letter-spacing: 8px;
}
.skill > ul{
  box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.33);
  margin-top: 30px;
  background-color: white;
  padding: 20px 30px 30px 30px;
}
.skill > ul > li{
  float: left;
  width: 48%;
  font-size: 12px;
  line-height: 1.8;
  padding: 15px 0;
}
.skill > ul > li:nth-child(even){
  padding-left: 35px;
}
.skill .progressBar{
  height: 5px;
  background: #FAE1E1;
  border-radius: 2px;
}
.skill .progress{
  height: 100%;
  background: #E6686A;
  border-radius: 2px;
}
.sampleReels{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  text-align: center;
}
.sampleReels > h2{
  font-weight: bold;
  font-size: 34px;
  color: #3d4451;
  letter-spacing: 8px;
}
.sampleReels > nav{
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
}
.sampleReels > nav> ul > li{
  float: left;
  padding-left: 40px;
  padding-bottom: 6px;
  cursor: pointer;
}
.sampleReels > nav> ul > li:nth-child(1){
  padding-left: 0px;
}
.sampleReels .bar{
  height: 5px;
  background: white;
  border-radius: 2px;
}
.sampleReels .bar-inner{
  height: 100%;
  background: #E6686A;
  border-radius: 2px;
  width: 20%;
  transition: all 0.2s;
}
.sampleReels .bar.state-1 .bar-inner{
  margin-left: 0;
  width: 32px;
}
.sampleReels .bar.state-2 .bar-inner{
  margin-left: 71px;
  width: 35px;
}
.sampleReels .bar.state-3 .bar-inner{
  margin-left: 143px;
  width: 92px;
}
.sampleReels .works{
  position: relative;
 margin-top: 35px;
  height: 597px;
  margin-bottom: 100px;
}
.sampleReels .works .big{
  position: absolute;
  top: 0;
  left: 0;
}
.sampleReels .works .small1{
  position: absolute;
  top: 0;
  left: 645px;
}
.sampleReels .works .small2{
  position: absolute;
  top: 312px;
  left: 645px;
}